@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Quattrocento+Sans:wght@400;700&family=Sansita:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: var(--prim-font);
}

:root {
  --prim-color: #FFC0E5;
  --sec-color: #FBEEB3;
  --alt-one-color: #B4E2BA;
  --alt-two-color: #B3B0F8;
  --prim-font: 'Open Sans', sans-serif;
  --sec-font: 'Sansita', sans-serif;
}

h1 {
  font-size: clamp(4rem, 12vh, 10rem);
  font-family: var(--sec-font);
  font-weight: 700;
  color: rgb(46, 45, 45);
  text-align: center;
  max-width: 400px;
  margin: 0;
}

h1 span {
  -webkit-text-stroke: 2px rgb(46, 45, 45);
  color: transparent;
  font-style: italic;
}

h2 {
  font-family: var(--sec-font);
  font-size: clamp(3rem, 10vh, 10rem);
  margin: 0;
  padding: 2.5rem 0;
}

a {
  text-decoration: none;
  color: rgb(46, 45, 45);
}

.text-para {
  max-width: 600px;
  font-size: clamp(18px, 1.5vw, 20px);
  line-height: clamp(28px, 2vw, 50px);
}

.container {
  display: grid;
  justify-items: center;
  padding: 5rem 0;
  text-align: center;
  gap: 5rem;
}


 .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  align-self: baseline;
 }

 .nav-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: var(--sec-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-top: 1px solid black;
  z-index: 2;
  margin: 0;
 }

 .nav-menu li,
 .nav-menu li a,
 .resume-btn {
  font-family: var(--sec-font);
  font-size: calc(19px + (30 - 21) * ((100vw - 860px) / (1600 - 768)));
  font-weight: 600;
  list-style: none;
  cursor: pointer;

 }

 .resume-btn {
  background: transparent;
  border: none;
 }

 .nav-menu li:hover,
 .link-menu:hover,
 .resume-btn a:hover {
  color: #8782BB;
 }

/***intro css***/

 .headerContainer {
   background-color: var(--prim-color);
   height: 100vh;
 }
 
 .myLogo {
   width: clamp(110px, 10px, 150px);
 }
 
 .meSitting {
   display: none;
 }
 
 .intro-section {
   display: grid;
   grid-template-rows: repeat(1, 1fr);
   justify-content: center;
 }
 
 .intro-name {
   font-family: 'Pacifico', cursive;
   transform: rotate(350deg);
   justify-self: end;
   font-size: clamp(1.5rem, 4vw, 2rem);
   color: var(--sec-color);
   -webkit-text-stroke: 1px rgb(4, 4, 4);
   margin: 2rem 1rem 0 0;
   max-width: 250px;
 }
 
 .ideaIcon,
 .inactive  {
   display: none;
 }
 
 /*** project css ***/
 .project-container {
   background-color: var(--alt-one-color);
 
 }
 
 .project-wrapper {
   display: flex;
   gap: 2rem;
   justify-content: center;
   flex-wrap: wrap;
 }
 
 .btn {
   padding: 1rem;
   font-size: 1.5rem;
   font-weight: 600;
   border: 5px solid rgb(46 45 45);
   border-radius: 10px;
   transition: ease-in-out .2s;
   cursor: pointer;
   color: rgb(46 45 45);
   filter: drop-shadow(2px 4px 6px rgb(46 45 45));
 }
 
 .project img {
   border-radius: 10px;
   width: clamp(260px, 5vw, 400px);
   height: clamp(380px, 5vw, 500px);
   filter: brightness(.5);
 }
 
 .project img:hover,
 .btn:hover {
   filter: none;
 }
 
 /***about me css***/
 
 .about-me-container {
   background: var(--alt-two-color);
   gap: 0;
 }
 
 .slider-content {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   gap: 3rem;
 }
 
 .slider-content h3 {
   font-style: italic;
 }
 
 .active {
   display: inline-block;
 }
 
 .slides {
   position: relative;
   display: grid;
   grid-template-rows: 200px 100px;
   width: 100%;
 }
 
 .slide-img {
   width: 100%;
   height: 100%;
 }
 
 .prev,
 .next {
   cursor: pointer;
   width: auto;
   font-size: 2.5rem;
   margin: 2rem;
   transition: ease-in-out .5s;
 }
 
 .prev:hover,
 .next:hover {
   color: var(--alt-one-color);
 }
 
 /**** skills**/
 
 .skills-container {
   background: var(--sec-color);
 }
 
 .my-skills img {
   width: clamp(200px, 90vw, 400px);
 }
 
 #wrapper:hover {
   -webkit-box-shadow: 95px 90px 44px 56px rgba(0, 0, 0, 0.58);
   -moz-box-shadow: 95px 90px 44px 56px rgba(0, 0, 0, 0.58);
   box-shadow: 95px 90px 44px 56px rgba(0, 0, 0, 0.58);
 }
 
 /**** todays page***/
 .today-container {
   background: var(--prim-color);
   font-weight: 600;
 }
 
 .socials {
   display: flex;
   gap: 2rem;
 }
 


/****************** desktop css ***********************/

@media (min-width:865px) {
  .container {
  padding: 9rem 0;
  }

  .nav-menu {
  background-color: transparent;
  position: absolute;
  top: 0;
  border: none;
  justify-content: flex-end;
  height: 100px;
  }

  .overlay,
  .intro-section p,
  .hamburger-menu {
  display: none;
  }

  .headerContainer {
  background: rgb(255, 192, 229);
  background: linear-gradient(90deg, var(--prim-color) 55%, var(--sec-color) 55%);
  display: grid;
  }

  .intro-section {
  grid-template-columns: 55% 45%; 
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-self: baseline;
  }
  
  .meAnimated {
  display: block;
  width: clamp(200px, 44vw, 700px);
  grid-row: 2;
  }

  .animatedName {
  max-width: 190px;
  height: 100px;
  transform: rotate(10deg);
  grid-row: 1/2;
  grid-column: 1/3;
  justify-self: end; 
  }

  .intro-section a {
  grid-row: 1/3;
  grid-column: 2/4;
  justify-self: start;
  align-self: center;
  
 }


 .ideaIcon {
  display: block;
  max-width: 80px;
  position: absolute;
  margin-left: -3.5rem;
  transform: rotate(-8deg);
 }

 .meSitting {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 20% 10% 10% 70%;
  grid-template-columns: 50% 20% 20%;
  width: 100%;
  justify-self: start;
  align-self: center;
 }

 
 .project-container h2 {
 justify-self: end;
 padding: 0 7rem 7rem 0;
 }

 .my-skills {
  display: flex;
 }  
 
 .skills-container h2 {
  justify-self: start;
  padding: 0 0 2rem 8rem;
 }

}